.addurl {
  overflow: auto;
  min-width: 650px;
  color: $text-color;
  font-family: $text-font;

  .scroll{
    max-height: 250px;
  }

  p {
    margin: 0;
    font-size: 0.85rem;
    font-weight: bold;
  }

  input,
  input::placeholder,
  select {
    color: $text-color;
    font-family: $text-font;
    font-size: 0.9rem;
    height: 30px;
    padding: 0 5px;
  }

  .btn {
    min-height: 30px;
  }

  input[type="text"],
  select {
    width: 100%;
  }

  .checkbox-item {
    display: flex;
    align-items: center;
    width: 100%;

    i {
      opacity: 0;
      font-size: 0.8rem;
      margin-left: auto;
      padding: 5px;
      cursor: pointer;

      &:hover {
        color: $brand-main-color;
      }
    }

    label {
      font-size: 0.9rem;
    }

    &:hover {
      background-color: $background-color;

      i {
        opacity: 1;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  label p {
    margin-bottom: 20px;
  }
}

.checkbox-list {
  flex-wrap: wrap;
}

.checkbox-item {
  flex: 1 0 30%;
}

@media (max-width: 576px) {
  .addurl {
    top: 0;
    min-width: 100vw;
    height: 100vh;

    .row {
      flex-direction: column;
    }

    .row > * {
      margin-right: 0;
    }

    #select-compain {
      margin: 20px 0;
    }

    .checkbox-item {
      flex: 1 0 50%;
    }

    .btn {
      align-self: center;
    }

    .buttons {
      margin-top: 20px;
    }
  }
}

@media (max-width: 320px) {
  .checkbox-item {
    flex: 1 0 100%;
  }
}

@media (max-height: 700px) {
  .addurl {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
