.container {
  min-height: 400px;
  box-sizing: content-box;
  background-color: $background-color-container;
  margin: 0 20px 20px 20px;
  box-shadow: 0 0 10px $background-color2;

  &:first-of-type {
    margin: 20px;
  }

  .container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-body > * {
    margin-bottom: 25px;

    &:first-child {
      margin-top: 25px;
    }
  }
}

@media (max-width: 350px) {
  .container {
    margin: 0 0 20px 0;

    &:first-of-type {
      margin: 20px 0;
    }
  }
}