::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $background-color;
  overflow: hidden;
  max-width: 100vw;
}

*{
  box-sizing: border-box;
}

.layout{
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  // overflow-x: hidden;
  max-width: 100%;

  .pages_topbar{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;

    .content{
      width: 100%;
      display: flex;
      flex-direction: column;

      .page{
        display: none;
      }

      .page-active{
        display: block;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  max-height: 200px;
}

.row > * {
  margin-right: 20px;
  
  &:last-child{
    margin-right: 0;
  }
}

.column {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


// @media (min-width: 1200px) {
//   .container {
//     max-width: 1140px;
//   }
// }

// @media (max-width: 1200px) {
//   .container {
//     max-width: 960px;
//   }
// }

// @media (max-width: 992px) {
//   .container {
//     max-width: 720px;
//   }
// }

// @media (max-width: 768px) {
//   .container {
//     max-width: 540px;
//   }
// }

// @media (max-width: 576px) {
//   .rwd {
//     flex-direction: column;
//   }
// }
