@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700&display=swap&subset=latin-ext");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');


/* Colors */
$paragraph-color: #000000;
$brand-main-color: rgb(245,130,32);
$background-color: rgb(245,245,242);
$background-color2: rgb(227, 227, 227);
$background-color-menu: rgb(25,25,25);
$background-color-focus: rgb(40,40,40);
$background-color-container: #fff;
$color-error: rgb(190, 0, 0);

$text-color-light: #fff;

$text-color-link-focus: #fff;
$text-color-link: rgb(136,136,136);

$text-color: rgb(172,172,172);


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Dancing Script', cursive;

$header-font: "Open Sans", Helvetica, Arial;

$text-font: "Open Sans", Helvetica, Arial;
 
