.links-colection {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 50%;
  min-width: 350px;
  max-width: 550px;

  font-family: $text-font;
  color: $text-color;
  
  li{
    border-bottom: 1px solid $background-color2;
    padding: 10px 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child{
      border-top: 1px solid $background-color2;
    }

    a{
      font-weight: normal;
      text-decoration: none;
    }
  }
}
