.pop-up {
  display: none;
  z-index: 200;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 350px;
  background-color: $background-color-container;

  .title {
    text-transform: none;
    font-size: 0.9rem;
  }

  .pop-up-body {
    display: flex;
    justify-content: flex-end;

    .btn {
      min-width: 120px;
    }
  }
}

.active{
  display: block;
}
